.component4{
    &_logo{
        position: absolute;
        top: 2329px;
        left: 152px;
        width: 31px;
        height: 31px;
        opacity: 1;
    }
    &_title{
        position: absolute;
        top: 2362px;
        left: 186px;
        width: 237px;
        height: 40px;
        text-align: left;
        font: normal normal bold 40px/54px Adobe Caslon Pro;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    &_section{
        display: flex;
        gap: 20px !important;
        &__item1{
            display: flex;
            flex-direction: column;
            // align-items:center;
            position: absolute;
            top: 2462px;
            left: 150px;
            width: 270px;
            height: 308px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F4F4F4;
            border-radius: 4px;
            opacity: 1;
            & img{
             width: 270px;
             height: 153px;
            //  margin: 49.72px 81px 0px 79px;
            border-radius: 4px 4px 0px 0px;
            }
            &___1{
                margin: 14.5px 41px 16.24px 20px;
                width: 209px;
                height: 74px;
                & h3{
                    width: 209px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 16px/24px Montserrat;
                    text-align: left !important;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                   }
                   & p{
                       width: 110px;
                       height: 13px;
                       text-align: left;
                       font: normal normal normal 10px Montserrat;
                       letter-spacing: 0px;
                       color: #9B9B9B;
                       opacity: 1;
                   }
            }
            &___2{
                width: 270px;
                height: 50px !important;
                border: 1px solid #EBEBEB;
                border-radius: 0px 0px 4px 4px;
                opacity: 1;
                overflow: hidden;
                display: flex;
                text-align: center;
                & a{
                    width: 93px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 18px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #32AAFF;
                    text-transform: uppercase;
                    opacity: 1;
                    border: 0px;
                    background-color: white;
                    margin: 14px 88px 89px;
                    text-decoration: none;
                }
            }
         }
         &__item2{
            display: flex;
            flex-direction: column;
            // align-items:center;
            position: absolute;
            top: 2462px;
            left: 440px;
            width: 270px;
            height: 308px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F4F4F4;
            border-radius: 4px;
            opacity: 1;
            & img{
             width: 270px;
             height: 153px;
            //  margin: 49.72px 81px 0px 79px;
            border-radius: 4px 4px 0px 0px;
            }
            &___1{
                margin: 15.16px 41px 9.84px 20px;
                width: 209px;
                height: 80px !important;
                & h3{
                    width: 209px;
                    height: 38px;
                    text-align: left;
                    font: normal normal bold 16px/18px Montserrat;
                    text-align: left !important;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                   }
                   & p{
                       width: 110px;
                       height: 13px;
                       text-align: left;
                       font: normal normal normal 10px Montserrat;
                       letter-spacing: 0px;
                       color: #9B9B9B;
                       opacity: 1;
                   }
            }
            &___2{
                width: 270px;
                height: 50px !important;
                border: 1px solid #EBEBEB;
                border-radius: 0px 0px 4px 4px;
                opacity: 1;
                overflow: hidden;
                display: flex;
                text-align: center;
                & a{
                    width: 93px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 18px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #32AAFF;
                    text-transform: uppercase;
                    opacity: 1;
                    border: 0px;
                    background-color: white;
                    margin: 14px 88px 89px;
                    text-decoration: none;
                }
            }
         }
         &__item3{
            display: flex;
            flex-direction: column;
            // align-items:center;
            position: absolute;
            top: 2462px;
            left: 730px;
            width: 270px;
            height: 308px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F4F4F4;
            border-radius: 4px;
            opacity: 1;
            & img{
             width: 270px;
             height: 153px;
            //  margin: 49.72px 81px 0px 79px;
            border-radius: 4px 4px 0px 0px;
            }
            &___1{
                margin: 14.5px 41px 16.24px 20px;
                width: 209px;
                height: 74px;
                & h3{
                    width: 209px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 16px/24px Montserrat;
                    text-align: left !important;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                   }
                   & p{
                       width: 110px;
                       height: 13px;
                       text-align: left;
                       font: normal normal normal 10px Montserrat;
                       letter-spacing: 0px;
                       color: #9B9B9B;
                       opacity: 1;
                   }
            }
            &___2{
                width: 270px;
                height: 50px !important;
                border: 1px solid #EBEBEB;
                border-radius: 0px 0px 4px 4px;
                opacity: 1;
                overflow: hidden;
                display: flex;
                text-align: center;
                & a{
                    width: 93px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 18px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #32AAFF;
                    text-transform: uppercase;
                    opacity: 1;
                    border: 0px;
                    background-color: white;
                    margin: 14px 88px 89px;
                    text-decoration: none;
                }
            }
         }
         &__item4{
            display: flex;
            flex-direction: column;
            // align-items:center;
            position: absolute;
            top: 2462px;
            left: 1020px;
            width: 270px;
            height: 308px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #F4F4F4;
            border-radius: 4px;
            opacity: 1;
            & img{
             width: 270px;
             height: 153px;
            //  margin: 49.72px 81px 0px 79px;
            border-radius: 4px 4px 0px 0px;
            }
            &___1{
                margin: 14.5px 41px 16.24px 20px;
                width: 209px;
                height: 74px;
                & h3{
                    width: 209px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 16px/24px Montserrat;
                    text-align: left !important;
                    letter-spacing: 0px;
                    color: #000000;
                    opacity: 1;
                   }
                   & p{
                       width: 110px;
                       height: 13px;
                       text-align: left;
                       font: normal normal normal 10px Montserrat;
                       letter-spacing: 0px;
                       color: #9B9B9B;
                       opacity: 1;
                   }
            }
            &___2{
                width: 270px;
                height: 50px !important;
                border: 1px solid #EBEBEB;
                border-radius: 0px 0px 4px 4px;
                opacity: 1;
                overflow: hidden;
                display: flex;
                text-align: center;
                & a{
                    width: 93px;
                    height: 22px;
                    text-align: left;
                    font: normal normal bold 18px/24px Montserrat;
                    letter-spacing: 0px;
                    color: #32AAFF;
                    text-transform: uppercase;
                    opacity: 1;
                    border: 0px;
                    background-color: white;
                    margin: 14px 88px 89px;
                    text-decoration: none;
                }
            }
         }

    }
    &_div{
        position: absolute;
        top: 2830px;
        left: 613px;
        width: 215px;
        height: 40px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #05416E;
        border-radius: 4px;
        opacity: 1;
        &:hover{
            background: #05416E 0% 0% no-repeat padding-box;
            border: 1px solid #05416E;
            border-radius: 4px;
            opacity: 1;
        }
        &__button{
            padding: 8.53px 15px 9.47px 20px;
            display: inline-block;
            text-decoration: none;
            text-align: left;
            font: normal normal 600 18px/17px Montserrat;
            letter-spacing: 0px;
            color: #05416E;
            opacity: 1;
            width: 142px;
            height: 22px;
            &:hover{
                text-align: left;
                font: normal normal 600 20px/24px Montserrat;
                letter-spacing: 0px;
                color: #F4F4F4;
                opacity: 1;
            }
            &___icon{
                width: 17px;
                height: 16px;
                padding: 11.48px 20px 12.52px 15px;
                text-align: center;
            }
        }
    }
}
